* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}


.header {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
}

#info {
    display: none;
    color: red;
}

button,
input,
select {
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

button {
    margin: 15px 0;
    width: 145px;
}


main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.header,
.courserow,
.inputcontainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}


.courserow:first-of-type {
    margin-top: 15px;
}

.courserow {
    margin-bottom: 10px;
    border: 1px dotted;
    padding: 10px;
}
.courserow:nth-child(odd){
    background-color: #e6f4ea;
}

.courserow:nth-child(even){
    background-color: #f3f9f5;
}

input {
    width: 100%;
}



@media (max-width: 900px ) {
    .header,
    .courserow,
    .inputcontainer{
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .header {
        display: none;
    }
}
